*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/gradle/
/.gradle/
/.gradle/5.4.1/
/.gradle/buildOutputCleanup/
/.gradle/vcs-1/
/.idea/
